<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header :: header"></header>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Internet Shop Quick Sell</h1>
                <p class="lead text-muted">QuickSell offers an extensive collection of world-famous brands of men's clothing and accessories
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img alt="" src="https://n.nordstrommedia.com/id/sr3/56e1cd1e-6c98-4ebc-ac49-410c5e53e594.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196" class="css-chhqmh">
                        <div class="card-body">
                            <p class="card-text">Good Man Brand Flex Pro Jersey Tulum Trunks</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$98.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">1 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img alt="" src="https://n.nordstrommedia.com/id/sr3/678469f5-57a1-41b1-903b-a07d1759c009.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196&dpr=2" class="css-chhqmh">
                        <div class="card-body">
                            <p class="card-text">Long Sleeve Cotton Jersey T-Shirt</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$50.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">1 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img alt="" src="https://n.nordstrommedia.com/id/sr3/d1355ee2-956f-47c8-8d48-56da273ce9b0.jpeg?h=365&w=240&dpr=2" class="css-chhqmh">
                        <div class="card-body">
                            <p class="card-text">Chappy Print Swim Trunks (Toddler, Little Boy & Big Boy)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$59.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">1 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://www.plein.com/dw/image/v2/BBKQ_PRD/on/demandware.static/-/Sites-plein-master-catalog/default/dw92a5b65f/images/main/P19A-MBA0739-PLE004N_02_m.jpg?sw=440&sh=560" class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">With an expandable design that still has an ability to fit in small spaces, this backpack is the carry-on hero of cramped flight cabins.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$4699.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">2 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://n.nordstrommedia.com/id/sr3/4154a358-9c49-4965-a4df-f6fe471578a4.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196&dpr=2" class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">Carry cash and cards in signature MCM style with this bifold wallet crafted from Visetos coated canvas with a smooth nappa-leather interior</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$3699.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">2 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://n.nordstrommedia.com/id/sr3/f87253d8-d883-4920-9185-3bcd2e5d41fa.jpeg?h=365&w=240&dpr=2"  class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">Montblanc Noise Canceling Bluetooth® Headphones</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$639.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">2 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://n.nordstrommedia.com/id/sr3/285a62ed-4d69-4fdf-a4f3-8c64aa2eb2f5.jpeg?h=365&w=240&dpr=2" class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">Packable Colorblock Braided Paper Straw Panama Hat</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$39.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">3 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://n.nordstrommedia.com/id/sr3/7b7091a1-4efa-4df7-96f2-8f8bd5c5f4a9.jpeg?h=365&w=240&dpr=2" class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">Reversible Leather Belt</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$49.50</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">3 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://cdn.anscommerce.com/catalog/brandstore/johnson/111-2021_06_14-UN_M.jpg" class="css-18jj8gr">
                        <div class="card-body">
                            <p class="card-text">Tommy Hilfiger Decker Blue Silicone Watch 1791476</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="MuiTypography-root makeStyles-root-13 makeStyles-root-677 MuiTypography-body1" data-automation="product-price-was">$245.00</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">3 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</div>
<div th:insert="footer :: footer"></div>
</div>
</body>
</html>